* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightcyan;
}

header h1 {
  text-align: center;
  color: rgb(57, 57, 161);
  margin: 20px 20px 10px 20px;
}

nav ul {
  list-style: none;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

nav ul li {
    margin: 5px 0px;
}

nav ul li a {
  background-color: rgb(30, 30, 124);
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}

.activo {
  background-color: blue;
  color: white;
  pointer-events: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.operaciones {
  display: inline-block;
  width: 15%;
  margin: 10px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.contenido, form {
  display: flex;
  flex-direction: column;
}

.contenido h2 {
  color: rgb(76, 76, 167);
}

.contenido label {
  margin-top: 8px;
  margin-bottom: 8px;
}

.contenido input {
  padding: 8px;
  border: 0.1px solid lightgrey;
  border-radius: 5px;
}

.contenido button {
  margin-top: 10px;
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: rgb(109, 109, 255);
}

.contenido button:hover,
nav ul li a:hover {
  cursor: pointer;
  background-color: blue;
  transition: background, 0.6s ease;
}

.contenido p {
  margin-top: 10px;
  color: rgb(59, 59, 138);
  font-weight: bold;
}

#imagenes {
    height: 300px;
}  

.centro {
    text-align: center;
}