* {
    margin: 0;
    padding: 0;
}

.ejemplogrid {
    border: 5px solid black;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100px 400px 50px;
    grid-template-areas: 
    "zheader zheader"
    "znav zmain"
    "zfooter zfooter";
}

.grid {
    margin: 20%;
    text-align: center;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 3% 87% 5%;
    grid-template-areas: 
    "zheader"
    "znav"
    "zmain"
    "zfooter";
}

nav {
    border: 3px solid green;
    grid-area: znav;
    background-color: green;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    list-style: none;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    padding: 8px;
    background-color: darkgreen;
    transition: background-color, 0.3s ease;
}

ul li a:hover:not(.actual) {
  background-color: darkgreen;
}

.actual {
    pointer-events: none;
    padding: 8px;
    background-color: darkgreen;
    color: white;
}

header {
    grid-area: zheader;
    background-color: rgb(62, 104, 36);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    grid-area: zmain;
    background-color: lightgreen;
}

footer {
    grid-area: zfooter;
    background-color: rgb(54, 52, 52);
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduccion {
    border-radius: 50px;
    text-align: center;
    margin: 20px;
}

.introduccion h1 {
    font-size: 2em;
}

.introduccion p {
    font-size: 1.5em;
}

.sectorderecho, .sectorizquierdo {
    background-color: bisque;
    border-radius: 40px;
    margin: 10px 10px 40px 10px;
    display: flex;
    border: 1px solid black;
}

.sectorderecho p, .sectorizquierdo p {
    margin: 20px;
    font-size: 1.5em;
    align-content: center;
}

.sectorizquierdo p {
    text-align: end;
}

.sectorderecho img, .sectorizquierdo img{
    margin: 5px;
    height: 270px;
    border-radius: 50px;
    border: 2px solid black;
}